*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
/*Garante que o html e o body ocupem 
toda a altura da tela e herdem a fonte 
definida no navegador ou pelo usuário*/
html, body{
    height: 100%;
    font-family: inherit;
}

/*Define uma altura de linha padrão
para melhor legibilidade, fundo branco e texto preto*/
body{
    line-height: 1.5;
    background: #fff;
    color: #000;
}

/*Remove os marcadores padrão das listas ordenadas e não ordenadas*/
ul,li{
    list-style: none;
}

/*Remove o sublinhado dos links e faz com que eles herdem a cor do texto do elemento pai*/
a{
    text-decoration: none;
    color: inherit;
}

/*Faz com que elementos de mídia sejam exibidos como blocos e nunca ultrapassem a largura do seu contêiner*/
img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}

/*Remove estilos padrões de fomulários e faz com que eles herdem a fonte do elemento pai.*/
button, input, select, textarea{
    font: inherit;
    background: none;
    border:none;
    outline: none;
}

/*Remove espaçamento entre células de tabelas e faz com que as bordas se juntem*/
table{
    border-collapse: collapse;
    border-spacing: 0;
}