/* ======= RESPONSIVO ======= */
/* @media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        width: 160px;
    }

    .project-links {
        flex-direction: column;
    }
} */

/* ======= RESPONSIVIDADE ======= */

/* Tablets (até 1024px) */
@media (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-image img {
        margin: 0;
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .experience p {
        margin-left: 215px;
        width: 650px;
    }

    .about p {
        margin: 30px auto;
        text-align: center;
    }

    .links-social {
        flex-direction: row;
        justify-content: center;
        gap: 25px;
    }

    .btn-curriculum {
        margin: auto;
        padding: 25px 0 0 0;
    }
}

/* Celulares (até 768px) */
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
        width: 100%;
    }

    .header,
    .about,
    .experience,
    .projetos {
        padding: 40px 0;
        width: 132%;
    }

    .nav-links {
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .btn-primary,
    .btn-secondary,
    .btn-outline {
        padding: 10px 30px;
        margin: 20px 10px 0;
    }

    .hero {
        padding: 40px 0;
    }

    .name {
        font-size: 1.8rem;
    }

    .role {
        font-size: 0.9rem;
    }

    .about {
        padding: 40px 0;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .project-card {
        padding: 16px;
    }

    .project-image {
        height: 160px;
    }

    .footer {
        font-size: 0.8rem;
    }
}



@media (max-width: 480px) {

    *{
        box-sizing: border-box;
    }

    body{
        overflow-x: hidden;
    }

    .container{
        width: 100%;
        padding: 0 20px;
    }

    .experience{
        padding: 60px 0;
    }

    .title-experience{
        font-size: 1.8rem;
        margin-top: 0;
    }

    .company-info h3{
        font-size: 1.5rem;
        padding: 20px 0;
    }

    .experience p{
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 0.95rem;
        line-height: 1.8;
        text-align: center;
        display: block;
    }

    .skills{
        width: 100%;
        height: auto;
        margin: 30px 0 0 0;
        padding: 20px;
        border-left: none;
        border-top: 2px solid #a855f7;
    }

    .skills a{
        margin: 18px 0;
        justify-content: center;
        align-items: center;
    }

}